<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script>
        const chart_height = 512;
        const chart_width = 1024;
        var countries = {{ countries|tojson }};
        var data = {{ data|tojson }};
    </script>
    <link rel="stylesheet" href="static/covid.css">
</head>

<body>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <h1>{{ headline }}</h1>
    <p>See also:</p>
    <span>
    <ul id="buttons">
    <li><a href="/africa.html">Africa</a></li>
    <li><a href="/asia.html">Asia</a></li>
    <li><a href="/americas.html">Americas</a></li>
    <li><a href="/canada.html">Canada (prov)</a></li>
    <li><a href="/europe.html">Europe</a></li>
    <li><a href="/us.html">US and states</a></li>
    <li><a href="/worldwide.html">Worldwide</a></li>
    </ul>
    </span>
    <br>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 style="font-family: sans-serif;">
        <a href=" {{ source_data_url }}">Source data</a> last updated {{ last_day }}
    </h2>
    <p>Lines show 7 day moving averages, while points show the raw data.</p>
    <p>"New" case counts given in graph titles are 7 day moving averages of new cases.</p>

    <table>
        <tr>
            <td>Chart type</td>
            <td>
                <select id="select_view" onchange="display_selected()">
                    <option value="cases">New Cases and Deaths</option>
                </select>
            </td>
        </tr>

    </table>
    <table class="plot_table"><tbody id="plots">
        <tr><td><div id="{{ country }}">placeholder</div></td></tr>
    </tbody>
    </table>
    <script>
        class Tooltip {
          constructor(svg, x, y) {
            this.node = svg.append("g")
                .attr("pointer-events", "none").attr("display", "none")
                .attr("font-family", "sans-serif")
                .attr("font-size", "10").attr("text-anchor", "middle");
            this.node.append("rect")
                .attr("x", "-27").attr("width", "54").attr("y", "-30").attr("height", "30").attr("fill", "white");
            this._day = this.node.append("text").attr("y", "-22").attr("background-color", "white").node();
            this._cases = this.node.append("text").attr("y", "-12").attr("background-color", "white").node();
            this._deaths = this.node.append("text").attr("y", "-2").attr("background-color", "white").node();
            this._circle = svg.append("circle").attr("r", "2.5").node();  // _circle is an HTML node, not a D3 object
            this.scale_x = x;
            this.scale_y = y;
          }
          show(d) {
              var node = this.node.node();
              node.removeAttribute("display");
              this._circle.removeAttribute("display");
              node.setAttribute("transform", "translate(" + this.scale_x(d.day) + "," + Math.round(0.2 * chart_height) + ")");
              this._circle.setAttribute("transform", "translate(" + this.scale_x(d.day) + "," + this.scale_y(d.cases) + ")")
              this._day.textContent = d3.utcFormat("%b %-d, '%y")(d.day);
              this._cases.textContent = d3.format("d")(d.cases) + " new cases";
              this._deaths.textContent = d3.format("d")(d.deaths) + " new deaths";
          }
          hide() {
            this.node.node().setAttribute("display", "none");
            this._circle.setAttribute("display", "none");
          }
        }

        function graph(country, covid, p1, l1, p2, l2, label1, label2) {
            var divname = "div#".concat(country);
            var firstcolor = "#a94352";
            var secondcolor = "#69b3a2";

            var latest_cases = Math.round(covid[covid.length-1]["ncases7day"]);

            try {
                // append a new row to hold this plot
                d3.select("tbody#plots").append("tr").insert('td').insert("div").attr("id", country);

                // label the div with the name of the country whose data we're processing
                var div = d3.select(divname).text("").attr("text-anchor", "center");

                // set the dimensions and margins of the graph
                var margin = {top: 10, right: 30, bottom: 30, left: 60},
                    width = chart_width - margin.left - margin.right,
                    height = chart_height - margin.top - margin.bottom;

                // insert an SVG object into the div to hold our plot
                var svg = d3.select(divname)
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

                // Add X axis (range of dates in the data)
                var x = d3.scaleTime()
                    .domain(d3.extent(covid.map(d => d.day)))
                    .range([0, width]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // Add Y axis for new case data
                var y = d3.scaleLinear()
                    .domain(d3.extent(covid.map(d => d[p1])))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisLeft(y))
                    .style("fill", firstcolor);
                // Add label for the first Y axis
                svg.append("text")
                    .attr("text-anchor", "end")
                    .style("font-family", "sans-serif")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 20)
                    .attr("x", 0)
                    .text(label1)
                    .style("fill", firstcolor);

                // add Y axis for death data
                var yd = d3.scaleLinear()
                    .domain(d3.extent(covid.map(d => d[p2])))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisRight(yd))
                    .attr("transform", "translate(" + width + ",0)")
                    .style("fill", secondcolor);
                // add label for the second y axis
                svg.append("text")
                    .attr("text-anchor", "start")
                    .attr("transform", "rotate(90)")
                    .attr("y", -width + 20)
                    .attr("x", 0)
                    .text(label2)
                    .style("font-family", "sans-serif")
                    .style("fill", secondcolor);
                // Add chart title
                var title = country + ": " + latest_cases + " New Cases";
                svg.append("text")
                    .attr("text-anchor", "center")
                    .attr("y", margin.top)
                    .attr("x", width / 3)
                    .text(title)
                    .style("font-family", "sans-serif")
                    .style("fill", "black");

                // add tool tips to display values on a particular date
                function bisect(data, date) {
                    i = d3.bisector(d => d.day).left(data, Date.parse(date));
                    i = data.length > i ? i : data.length - 1;
                    const a = data[i - 1], b = data[i];
                    return date - a.day > b.day - date ? b : a;
                }
                const tooltip = new Tooltip(svg, x, y);
                div.on( "mousemove", event => tooltip.show(bisect(covid, x.invert(event.offsetX-margin.left))))
                    .on("mouseleave", event => tooltip.hide());

                // Add first scatter plot
                svg.append('g')
                    .selectAll("dot")
                    .data(covid)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.day);
                    })
                    .attr("cy", function (d) {
                        return y(d[p1]);
                    })
                    .attr("r", 1.5)
                    .style("fill", firstcolor);

                // add line plot of moving average
                svg.append("path")
                    .datum(covid)
                    .attr("fill", "none")
                    .attr("stroke", firstcolor)
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .defined(d => !isNaN(d[l1]))
                        .x(d => x(d.day))
                        .y(d => y(d[l1]))
                    );
                // Add scatter plot of new deaths
                svg.append('g')
                    .selectAll("dot")
                    .data(covid)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.day);
                    })
                    .attr("cy", function (d) {
                        return yd(d[p2]);
                    })
                    .attr("r", 1.5)
                    .style("fill", secondcolor);

                // add line plot of moving average
                svg.append("path")
                    .datum(covid)
                    .attr("fill", "none")
                    .attr("stroke", secondcolor)
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .defined(d => !isNaN(d[l2]))
                        .x(d => x(d.day))
                        .y(d => yd(d[l2]))
                    );
            }
            catch(err) {
                d3.select(divname).text(country.concat("<br>", err));
            }

        }
        function display_selected() {

            // remove the old rows
            d3.select("tbody#plots").selectAll("tr").remove();

            // display the items in the appropriately sorted order
            countries.forEach(
                function (country) {
                    graph(country, data[country],
                        "cases", "ncases7day", "deaths", "ndeaths7day",
                        "New Cases", "New Deaths"
            );

                }
            )
         }

        // convert "day" values to javascript date.  We need to do this only once.
        countries.forEach(
            function (country) {
                var ss = data[country];
                ss = ss.map(function (row, idx, arr) {
                    row.day = Date.parse(row.day);
                    return row;
                });
            }
        )

        display_selected();
    </script>

</body>
</html>