<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script>
        const chart_height = 250;
        const chart_width = 1024;
        const countries = {{ countries|tojson }};
        var data = {{ data|tojson }};
        var max_per_capita = {{ max_per_capita }};
        var sort_helper = [];  // start off sorted by countries
        countries.forEach(
            region => sort_helper.push({
                "region": region,
                "avg_cases": Math.round(latest(data[region], "ncases7day")),
                "avg_per_capita_cases": latest(data[region], "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000"),
                "avg_deaths": latest(data[region], "ndeaths7day")
        })
        );
        var table_sort_helper = [].concat(sort_helper);  // copy the sort_helper to use for the tabular display
        function latest(d, field) {
            // return the most recent value for field; assumes the data are sorted by day
            return d[d.length-1][field];
        }

        // sort function
        function dynamicSort(property) {
            // NOTE: sorts in descending order if property name prefixed by "-", e.g. "-region"
            var sortOrder = 1;
            if(property[0] === "-") {
                sortOrder = -1;
                property = property.substr(1);
            }
            return function (a,b) {
                /* next line works with strings and numbers,
                 * and you may want to customize it to your needs
                 */
                var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                return result * sortOrder;
            }
        }
        </script>
    <link rel="stylesheet" href="static/covid.css">
</head>

<body>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <h1>{{ headline }}</h1>
    <p>See also:</p>
    <span>
    <ul id="buttons">
    <li><a href="/africa.html">Africa</a></li>
    <li><a href="/asia.html">Asia</a></li>
    <li><a href="/americas.html">Americas</a></li>
    <li><a href="/canada.html">Canada (prov)</a></li>
    <li><a href="/europe.html">Europe</a></li>
    <li><a href="/us.html">US and states</a></li>
    <li><a href="/worldwide.html">Worldwide</a></li>
    </ul>
    </span>
    <br>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 style="font-family: sans-serif;">
        <a href=" {{ source_data_url }}">Source data</a> last updated {{ last_day }}
    </h2>
    <p>Lines show 7 day moving averages, while points show the raw data.</p>
    <p>"New" case counts given in graph titles are 7 day moving averages of new cases.</p>
    <p>"/100k pop" values come from the Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
        field in the source data.  I divided that value by 14 to get the per-day average.</p>
    <table>
        <tr>
            <td>Chart type</td>
            <td>
                <select id="select_view" onchange="display_selected()">
                    <option value="cases">New Cases and Deaths</option>
                    <option value="perCapita">New Cases per 100k population</option>
                </select>
            </td>
        </tr>
        <tr><td>Sort by:</td><td>
            <select id="select_sort" onchange="display_selected()">
                <option value="region">Alphabetical</option>
                <option value="-avg_cases">{{ last_day }} new case count</option>
                <option value="-avg_per_capita_cases">{{ last_day }} per capita new case count</option>
            </select>
        </td></tr>
    </table>
    <table id="plot_table"><tbody id="plots">
{% for country in countries %}
    <tr><td><div id="{{ country }}">placeholder</div></td></tr>
{% endfor %}
    </tbody>
    </table>
    <script>
        class Tooltip {
          constructor(svg, x, y) {
            this.node = svg.append("g")
                .attr("pointer-events", "none").attr("display", "none")
                .attr("font-family", "sans-serif")
                .attr("font-size", "10").attr("text-anchor", "middle");
            this.node.append("rect")
                .attr("x", "-27").attr("width", "54").attr("y", "-30").attr("height", "30").attr("fill", "white");
            this._day = this.node.append("text").attr("y", "-22").attr("background-color", "white").node();
            this._cases = this.node.append("text").attr("y", "-12").attr("background-color", "white").node();
            this._deaths = this.node.append("text").attr("y", "-2").attr("background-color", "white").node();
            this._circle = svg.append("circle").attr("r", "2.5").node();  // _circle is an HTML node, not a D3 object
            this.scale_x = x;
            this.scale_y = y;
          }
          show(d) {
              var node = this.node.node();
              node.removeAttribute("display");
              this._circle.removeAttribute("display");
              node.setAttribute("transform", "translate(" + this.scale_x(d.day) + "," + Math.round(0.2 * chart_height) + ")");
              this._circle.setAttribute("transform", "translate(" + this.scale_x(d.day) + "," + this.scale_y(d.cases) + ")")
              this._day.textContent = d3.utcFormat("%b %-d, '%y")(d.day);
              this._cases.textContent = d3.format("d")(d.cases) + " new cases";
              this._deaths.textContent = d3.format("d")(d.deaths) + " new deaths";
          }
          hide() {
            this.node.node().setAttribute("display", "none");
            this._circle.setAttribute("display", "none");
          }
        }

        function graph(country, covid, p1, l1, p2, l2, label1, label2, latest_cases, latest_percap) {
            var divname = "div#".concat(country);
            var firstcolor = "#a94352";
            var secondcolor = "#69b3a2";

            try {
                // append a new row to hold this plot
                d3.select("tbody#plots").append("tr").insert('td').insert("div").attr("id", country);

                // label the div with the name of the country whose data we're processing
                var div = d3.select(divname).text("").attr("text-anchor", "center");

                // set the dimensions and margins of the graph
                var margin = {top: 10, right: 30, bottom: 30, left: 60},
                    width = chart_width - margin.left - margin.right,
                    height = chart_height - margin.top - margin.bottom;

                // insert an SVG object into the div to hold our plot
                var svg = d3.select(divname)
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

                // Add X axis (range of dates in the data)
                var x = d3.scaleTime()
                    .domain(d3.extent(covid.map(d => d.day)))
                    .range([0, width]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // Add Y axis for new case data
                var y = d3.scaleLinear()
                    .domain(d3.extent(covid.map(d => d[p1])))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisLeft(y))
                    .style("fill", firstcolor);
                // Add label for the first Y axis
                svg.append("text")
                    .attr("text-anchor", "end")
                    .style("font-family", "sans-serif")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 20)
                    .attr("x", 0)
                    .text(label1)
                    .style("fill", firstcolor);

                // add Y axis for death data
                var yd = d3.scaleLinear()
                    .domain(d3.extent(covid.map(d => d[p2])))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisRight(yd))
                    .attr("transform", "translate(" + width + ",0)")
                    .style("fill", secondcolor);
                // add label for the second y axis
                svg.append("text")
                    .attr("text-anchor", "start")
                    .attr("transform", "rotate(90)")
                    .attr("y", -width + 20)
                    .attr("x", 0)
                    .text(label2)
                    .style("font-family", "sans-serif")
                    .style("fill", secondcolor);
                // Add chart title
                var title = country + ": " + latest_cases + " New Cases (" + latest_percap.toFixed(1) + "/100k pop)";
                svg.append("text")
                    .attr("text-anchor", "center")
                    .attr("y", margin.top)
                    .attr("x", width / 3)
                    .text(title)
                    .style("font-family", "sans-serif")
                    .style("fill", "black");

                // add tool tips to display values on a particular date
                function bisect(data, date) {
                    i = d3.bisector(d => d.day).left(data, Date.parse(date));
                    i = data.length > i ? i : data.length - 1;
                    const a = data[i - 1], b = data[i];
                    return date - a.day > b.day - date ? b : a;
                }
                const tooltip = new Tooltip(svg, x, y);
                div.on( "mousemove", event => tooltip.show(bisect(covid, x.invert(event.offsetX-margin.left))))
                    .on("mouseleave", event => tooltip.hide());

                // Add first scatter plot
                svg.append('g')
                    .selectAll("dot")
                    .data(covid)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.day);
                    })
                    .attr("cy", function (d) {
                        return y(d[p1]);
                    })
                    .attr("r", 1.5)
                    .style("fill", firstcolor);

                // add line plot of moving average
                svg.append("path")
                    .datum(covid)
                    .attr("fill", "none")
                    .attr("stroke", firstcolor)
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .defined(d => !isNaN(d[l1]))
                        .x(d => x(d.day))
                        .y(d => y(d[l1]))
                    );
                // Add scatter plot of new deaths
                svg.append('g')
                    .selectAll("dot")
                    .data(covid)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.day);
                    })
                    .attr("cy", function (d) {
                        return yd(d[p2]);
                    })
                    .attr("r", 1.5)
                    .style("fill", secondcolor);

                // add line plot of moving average
                svg.append("path")
                    .datum(covid)
                    .attr("fill", "none")
                    .attr("stroke", secondcolor)
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .defined(d => !isNaN(d[l2]))
                        .x(d => x(d.day))
                        .y(d => yd(d[l2]))
                    );
            }
            catch(err) {
                d3.select(divname).text(country.concat("<br>", err));
            }

        }
        function fixed_y(country, covid, l1, y_max, label1, latest_cases, latest_percap) {
            // This function uses a fixed scale for the y axis.  It's used to show the per-capita plots
            // so we can more easily compare between countries.
            var divname = "div#".concat(country);
            var firstcolor = "#a94352";
            var secondcolor = "#69b3a2";

            try {
                // append a new row to hold this plot
                d3.select("tbody#plots").append("tr").insert('td').insert("div").attr("id", country);

                // label the div with the name of the country whose data we're processing
                d3.select(divname).text("").attr("text-anchor", "center");

                // set the dimensions and margins of the graph
                var margin = {top: 10, right: 30, bottom: 30, left: 60},
                    width = 1024 - margin.left - margin.right,
                    height = 200 - margin.top - margin.bottom;

                // insert an SVG object into the div to hold our plot
                var svg = d3.select(divname)
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

                // Add X axis (range of dates in the data)
                var x = d3.scaleTime()
                    .domain(d3.extent(covid.map(d => d.day)))
                    .range([0, width]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // Add Y axis
                var y = d3.scaleLinear()
                    .domain(d3.extent([0, y_max]))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisLeft(y))
                    .style("fill", firstcolor);
                // Add label for the first Y axis
                svg.append("text")
                    .attr("text-anchor", "end")
                    .style("font-family", "sans-serif")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 20)
                    .attr("x", 0)
                    .text(label1)
                    .style("fill", firstcolor);
                // repeat the y axis on the right hand side to make it easier to read
                var yd = d3.scaleLinear()
                    .domain(d3.extent([0, y_max]))
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisRight(yd))
                    .attr("transform", "translate(" + width + ",0)")
                    .style("fill", firstcolor);

                // Add chart title
                var title = country + ": " + latest_cases + " New Cases (" + latest_percap.toFixed(1) + "/100k pop)";
                svg.append("text")
                    .attr("text-anchor", "center")
                    .attr("y", margin.top)
                    .attr("x", width / 2)
                    .text(title)
                    .style("font-family", "sans-serif")
                    .style("fill", "black");

                // add line plot
                svg.append("path")
                    .datum(covid)
                    .attr("fill", "none")
                    .attr("stroke", firstcolor)
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .defined(d => !isNaN(d[l1]))
                        .x(d => x(d.day))
                        .y(d => y(d[l1]))
                    );
            }
            catch(err) {
                d3.select(divname).text(country.concat("<br>", err));
            }

        }
        function display_selected() {
            var view = document.getElementById("select_view").value;
            var sort_by = document.getElementById("select_sort").value;

            // sort the regions into the desired order
            sort_helper.sort(dynamicSort(sort_by), inplace=true);

            // remove the old rows
            d3.select("tbody#plots").selectAll("tr").remove();

            // display the items in the appropriately sorted order
            if (view == "cases") {
                sort_helper.forEach(
                    row => graph(row.region, data[row.region],
                        "cases", "ncases7day", "deaths", "ndeaths7day",
                        "New Cases", "New Deaths", row.avg_cases, row.avg_per_capita_cases
                    )
                );
            } else if (view == "perCapita") {
                sort_helper.forEach(
                    row => fixed_y(row.region, data[row.region],
                        "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
                        max_per_capita,
                        "cases per 100k pop",
                        row.avg_cases, row.avg_per_capita_cases
                    )
                );
            } else if (view == "results") {
                sort_helper.forEach(
                    row => graph(row.region, data[row.region],
                        "testing", "nresults7day", "positiveFraction", "pf7day",
                        "# of new test results", "positive fraction", row.avg_cases, row.avg_per_capita_cases
                    )
                );
            }
        }

        // convert "day" values to javascript date.  We need to do this only once.
        countries.forEach(
            function (country) {
                var ss = data[country];
                ss = ss.map(function (row, idx, arr) {
                    row.day = Date.parse(row.day);
                    return row;
                });
            }
        )

        display_selected();

    </script>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <p>Click on a column header to sort the table below.</p>
    <table id="numeric_table">
        <thead>
        <tr>
            <th rowspan="2" align="center" onclick="display_tabular_data('region')"> Country </th>
            <th colspan="3" align="center">Date: {{ last_day }}</th>
        </tr>
        <tr>
            <th onclick="display_tabular_data('-avg_cases')"> new cases <br> 7 day avg </th>
            <th onclick="display_tabular_data('-avg_per_capita_cases')"> new cases / 100k pop <br> 14 day avg </th>
            <th onclick="display_tabular_data('-avg_deaths')"> new deaths <br> 7 day avg </th>
        </tr>
        </thead>
        <tbody id="ntb"></tbody>
    </table>

    <script>
        // select the table we're working on
        var sort_table = d3.select("#numeric_table");
        // add sort function to the table header
        display_tabular_data("region");
        function display_tabular_data(sort_by) {
            // sort the data as requested
            table_sort_helper.sort(dynamicSort(sort_by), inplace=true);

            // add table rows
            var sort_table = d3.select("#numeric_table").select("tbody");
            sort_table.selectAll("tr").remove(); // remove the existing table contents
            var tr = sort_table.selectAll("tr").data(table_sort_helper).enter().append("tr")
                .selectAll("td")
                .data(function(d) {
                    return [d.region, d.avg_cases, d.avg_per_capita_cases, d.avg_deaths];})
                .enter()
                .append("td")
                .attr("align", "right")
                .text(function(d) {
                if (typeof d === 'string' || d instanceof String || Number.isInteger(d)) {
                    // display strings or integers without change
                    return d;
                } else {
                    // cut off floats at the first decimal place
                    return d.toFixed(1);
                }
            });
        }
    </script>

</body>
</html>